<div class="row campaigns">
  <div class="col s8 offset-s2">
    <p class="title">Info</p>
  </div>

  <div class="campaign">
    <div class="row cards">
      <div class="col s8 offset-s2">
        <div class="card horizontal">
          <div class="card-content col s12">
            <%= form_for @campaign, url: {action: "update"}, html: {class: "col s12 update_campaign"} do |f| %>
              <div class="row">
                <div class="row">
                  <div class="col s12 14 input-field">
                    <%= f.text_field :title, 'data-length': '20' %>
                    <label for="title" class="<%= (@campaign.title)? 'active' : '' %>">Title</label>
                  </div>
                  <div class="col s12 l3 input-field">
                    <%= f.date_field :event_date, class: 'datepicker' %>
                    <label for="title" class="<%= (@campaign.event_date)? 'active' : '' %>">Date</label>
                  </div>
                  <div class="col s12 l2 input-field">
                    <%= f.text_field :event_hour %>
                    <label for="title" class="<%= (@campaign.event_hour)? 'active' : '' %>">Time</label>
                  </div>
                  <div class="col s12 l3 input-field">
                    <%= f.text_field :locale, 'data-length': "20" %>
                    <label for="title" class="<%= (@campaign.locale)? 'active' : '' %>">Where</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 input-field">
                    <%= f.text_field :description, 'data-length': "150" %>
                    <label for="title" class="<%= (@campaign.description)? 'active' : '' %>">Description</label>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s8 offset-s2">
    <p class="title">Members</p>
  </div>

  <div class="row cards members">
    <div class="col s8 offset-s2">
      <div class="card horizontal">
        <div class="card-content col s12" id="members-list">
          <%= render partial: 'members' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row btn-actions">
    <div class="col s12 center">
      <div class="col s6 m3 offset-m3 l2 offset-l4">
        <%= link_to 'Remove', confirm_destroy_campaign_path(@campaign), class: 'btn ', data: { behavior: 'modal' } %>
      </div>
      <div class="col s6 m3 l3">
        <%= form_tag(raffle_campaign_path(@campaign), method: 'post', class: 'raffle_campaign') do %>
          <button type='submit' class="waves-effect waves-light btn red">Raffle and send</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

